.TOPClass
{
	text-align:right;	
	height:20px;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#6699ff;
	cursor:pointer;
}
.a
{
TEXT-DECORATION:none;
}
.TableNameTxt
{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	height:20px;
	font-weight:bold;
	word-break:break-all; 
	overflow:auto;
}
.middlecss
{
	background-color:#FFFFFF; 
	border-right:1px solid #C7C5D9;
}
.TitleColor
{
	background-color: #698CC3;
	border-bottom: 1px solid #000000;	
}
.ButtonColor
{
	background-color: #D6E0EF;
}
.HeadTitle
{ 
	font: bold medium "trebuchet MS", "Lucida sans", "Arial";
	color: #FFFFFF;
	padding:10px;
}
TD {
	FONT-SIZE: 12px; 
}

.table-00
{
width:100%;
background: #D6E0EF; 
border: 1px solid #698CC3;
word-break:break-all; 
overflow:auto;
}

.td-00 {
font: 9pt Tahoma, Verdana; color: #FFFFFF; font-weight: bold; background-color: #698CC3;
height:25px;
padding-left:5px;
word-break:break-all; 
overflow:auto;
}
.td-01 {
background-color:#EAEFF2;
font-family: "Arial","宋体", "新宋体"; 
font-size: 9pt; color: #000000;
padding-left:5px;
height:25px;
word-break:break-all; 
overflow:auto;
}
.td-02 {
background-color:#FFFFFF;
font-family: "Arial","宋体", "新宋体"; 
font-size: 9pt; color: #000000;
padding-left:5px;
height:25px;
word-break:break-all; 
overflow:auto;
}

.openbt{
     background:url(../images/close_on.gif) no-repeat;   
}

.closebt{
     background:url(../images/open_on.gif) no-repeat;   
}

.menu
{
    font-family: 'trebuchet MS' , 'Lucida sans' , Arial;  
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    word-break: break-all;
    overflow: auto;
}